        <section class="row align-items-center" id="sec2">  
            <div class="col-12 col-md-5">
                <h2 id="meet" class="display-4">MEET LAUREN</h2>
            </div> 
            <div class="col-12 col-md-6 align-self-end" id="bio-box">
                <p>
                    Lauren specializes in inspired full stack web development and creative UI design. With 
                    years as a web designer and a techinical background that started in physics 
                    and bloomed into a career as a full-stack engineer, Lauren creates 
                    beautiful applications where your vision can
                    come to life!
                </p>
            </div>  
        </section>

        <section class="row" id="portfolio">
            <div class="col-12">
                <h2 class="display-2">PORTFOLIO</h2>
            </div>
            <div class="col-12">
                <div id="portfolio-list-section" class="row">
                </div>
            </div> 
        </section>