<section class="row" id="portfolio">
    <div class="col-12">
        <h2 class="display-2">PORTFOLIO</h2>
    </div>
    <div class="col-12">

        <div id="portfolio-list-section" class="row d-flex justify-content-around">
            {{#each projects as |project|}}
            {{>thumbnail}}
            {{/each}}
        </div>
    </div> 
</section>